extends layout

block content
  h1= title
  //- p Welcome to #{title}
<<<<<<< HEAD
=======
  //-//////////////////// Abd El aziz elsawy sallam cairo egypt  //////////// 
>>>>>>> dd10836f9c555b2ce27b7307f1c2eb0d5defff67
  style.
    input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

    input[type=submit] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
     input[type=button] {
    width: 10%;
    background-color: magenta;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    input[type=submit]:hover {
    background-color: #45a049;
    }
    div {
    border-radius: 1px;
    background-color: #f2f2f2;
    padding: 20px; }
  link(rel='stylesheet', href='/scripts/css/bootstrap.css')
  script(src="/scripts/js/bootstrap.min.js")
  //-script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="/jquery/jquery.js")
  h3 Choose Your Skill
  - var  optos = skills
  div
    form(action='/Skill' method="post")
     div
        label Enter- 
<<<<<<< HEAD
        input(type='text',id='zaftot',name="zaftok" ,onKeyup="myFunc(this.id)", autofocus="autofocus", onfocus='myfocus()') 
        input(type='button',id="colu",onClick="mycolu()" , value='clear')  
        input(type='submit',id="subo" , value='Submit')  
     div   
        select(name="dropdown", id="myselect" size="4" ,onClick="myclick()",style="margin-left:40px" )
          //-option 
          //-a.btn.btn-lg( id="koka",href="../search" ) go
          //- <a href="javascript:document.getElementById('firstName').focus()">Go to first name</a>
  script.
                   
          function myfocus(){
               $("#myselect").hide();
               $("#subo").hide();
               $("#colu").hide();
             }; 
=======
        input(type='text',id='zaftot',name="zaftok" ,onKeyup="myFunc()" autofocus="autofocus" , onfocus='myfocus()') 
        input(type='button',id="colu",onClick="myclear()" , value='clear')  
        input(type='submit',id="subo" , value='Submit')  
     div   
        select(name="dropdown", id="myselect" size="6" ,onClick="myclick()",style="margin-left:40px" )
          //-option 
          //-a.btn.btn-lg( id="koka",href="../search" ) go
          //- <a href="javascript:document.getElementById('zaftot').focus()">Go to first name</a>
  script.
               ////////////////////// Abd El aziz elsawy sallam cairo egypt  //////////// 
          function myfocus(){
             var arr =!{JSON.stringify(optos)}     
             $('#zaftot').val('');
             $("#subo").hide();
             $("#colu").hide();
              for (i = 0; i < arr.length; i++) {
               var  tt =arr[i].trim().toLowerCase();
                //if(tt.substr(0,uu.length))===uu {  // substr() not working i dont know
                $("#myselect").append('<option>' + arr[i] + '</option>');
                };
               $("#subo").hide();
               $("#colu").hide();
                document.getElementById('zaftot').readOnly=false;
                }; 
>>>>>>> dd10836f9c555b2ce27b7307f1c2eb0d5defff67
         ///////////////////////////////////     
          function myFunc (){
          var arr =!{JSON.stringify(optos)}
          var inp = $('#zaftot').val(); 
          var pp =[];
          if(inp.trim().length===0) {
<<<<<<< HEAD
             $("#myselect").hide();
=======
            $("#myselect").hide();
>>>>>>> dd10836f9c555b2ce27b7307f1c2eb0d5defff67
              $("#colu").hide();
             }
          ///////////////////////////////////
          ///////////////////////////////////
          if (inp.length >0){
            $("#subo").hide();
            $("#colu").show();
            $("#myselect").show();
            /////////////////////////////
            var x = document.getElementById('myselect');
            while(true){ 
            if (x.length > 0) {
              x.remove(x.length-1);
                   }else{break; } }
            //////////////////////////////
             var uu =inp.trim().toLowerCase();
             for (i = 0; i < arr.length; i++) {
               var  tt =arr[i].trim().toLowerCase();
                //if(tt.substr(0,uu.length))===uu {  // substr() not working i dont know
                if(tt.indexOf(uu)>-1){ 
                 $("#myselect").append('<option>' + arr[i] + '</option>');
                  pp.push(arr[i]);       
                };
                };
<<<<<<< HEAD
               if(pp.length == 1){
=======
               if(pp.length === 1){
>>>>>>> dd10836f9c555b2ce27b7307f1c2eb0d5defff67
                   $("#myselect").val(pp);
                    myclick();
                   //alert(pp[0]);
                 };
            }else{
<<<<<<< HEAD
             $("#myselect").hide();
             $("#subo").hide();
             $("#colu").hide();
            }
          };
          function mycolu(){ 
             $('#zaftot').val('');
             $("#myselect").hide();
             $("#subo").hide();
             $("#colu").hide();
             $('#zaftot').focus();
               document.getElementById('zaftot').readOnly=false;
=======
             var arr =!{JSON.stringify(optos)}     
           for (i = 0; i < arr.length; i++) {
               var  tt =arr[i].trim().toLowerCase();
                //if(tt.substr(0,uu.length))===uu {  // substr() not working i dont know
                $("#myselect").append('<option>' + arr[i] + '</option>');
                };
               $("#subo").hide();
               $("#colu").hide();
                document.getElementById('zaftot').readOnly=false;
                 $("#myselect").show();
                $('#zaftot').focus();
              }
             };
             function myclear(){ 
               var x = document.getElementById('myselect');
            while(true){ 
            if (x.length > 0) {
              x.remove(x.length-1);
                   }else{break; } }

             var arr =!{JSON.stringify(optos)}     
             $('#zaftot').val('');
             for (i = 0; i < arr.length; i++) {
               var  tt =arr[i].trim().toLowerCase();
                $("#myselect").append('<option>' + arr[i] + '</option>');
                };
               $("#subo").hide();
               $("#colu").hide();
               document.getElementById('zaftot').readOnly=false;
                $("#myselect").show();
                $('#zaftot').focus();

>>>>>>> dd10836f9c555b2ce27b7307f1c2eb0d5defff67
             };
          ////////////////////////////////////////
          function myclick(){ 
            var t=$("#myselect").val().toString();
             $('#zaftot').val(t);
<<<<<<< HEAD
             $('#zaftot').focus();
=======
>>>>>>> dd10836f9c555b2ce27b7307f1c2eb0d5defff67
             $("#myselect").hide();
             $("#subo").show();
             $("#colu").show();
             document.getElementById('zaftot').readOnly=true;
             
            };
          
         